<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/header-style.css">
    <link rel="stylesheet" href="./css/products-style.css">
    <link rel="stylesheet" href="./css/basket-style.css">
</head>

<body>
    <div id="app">
        <header>
            <v-header @pageprod="selectPage($event)" :current-page="currentPage" :price-pizza="pricePizza"/>
            
        </header>

        <section v-if="currentPage==='products'">
            <v-products :products="products" :categories="categories" :cardProducts="cardProducts" @addcard="addToBasket" @countprice="addToPrice"  @markupprice="markupPrice" @demarkupprice="deMarkupPrice"/>
        </section>


        <section v-if="currentPage==='basket'">
            <v-basket  @pageprod="selectPage($event)" :card-products="cardProducts" :price-pizza="pricePizza" @deletproduct="deletProd" @deletall="deletAllBasket"/>
        </section>

        


       


    </div>
    <script src="./js/vue.global.js"></script>
    <script src="./js/main.js" type="module"></script>
    <script src="./js/components/vHeader.js" type="module"></script>
    <script src="./js/components/vProducts.js" type="module"></script>
    <script src="./js/components/vCard.js" type="module"></script>
    <script src="./js/components/vBasket.js" type="module"></script>
    <script src="./js/components/vBasketcard.js" type="module"></script>
</body>

</html>